<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
</head>

<body>
    <h2>Nhap thong tin cua nhan vien:</h2>
    <form asp-action="IndexEmployee">
        Ho va ten: <input type="text" name="HoTen" placeholder="HoTen" /><br>
        Luong co ban: <input type="text" name="LuongCoBan" placeholder="LuongCoBan" /><br>
        He so luong: <input type="text" name="HeSoLuong" placeholder="HeSoLuong" /><br>
        Phu cap: <input type="text" name="PhuCap" placeholder="PhuCap" /><br>
        <input type="submit" name="Tinh" value="Tinh" />
    </form>
    <h1>@ViewBag.thongbao</h1>
</body>

</html>