<form asp-action="Index">
    <label>TenSvien</label>
    <input type="text" name="Ten" placeholder="Nhap ho ten">
    <input type="text" name="Sdt" placeholder="Nhap sdt">
    <input type= "submit" value="Save">
</form>
<h1>@ViewBag.hienthi</h1>