<form asp-action="Index"> 
    <label>FullName: </label>
    <input type="text" PersonID="PersonID" placeholder="Enter PsID"/>
    <input type="text" FullName="Full Name" placeholder="Enter Full Name"/>
</form>
<h1>@ViewBag.ThongBao</h1>; 